<?xml version="1.0"?>

<!--
    ================ Le Manchot =================
    == Project | Le Manchot                    ==
    == Author  | Parham Nooralishahi           ==
    == Contact | parham.nooralishahi@gmail.com ==
    == Organization | Laval University         ==
    =============================================
-->

<launch>
    <arg name="thermal_serial_no" default="85901153"/>
    <arg name="thermal_node_name" default="phm_flir_spinnaker"/>
    <group ns="phm">
        <param name="serial" type="str" value="$(arg thermal_serial_no)"/>
        <node pkg="ros_flir_spinnaker" name="$(arg thermal_node_name)" type="flir_node" output="screen" respawn="true"/>
    </group>
</launch>